<header id="header" class="site-header header-scrolled position-fixed text-black bg-light">
  <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/public/user/images/main-logo.png" class="logo">
      </a>

      <!-- tab menu mobile -->
      <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="navbar-icon">
          <use xlink:href="#navbar-icon"></use>
        </svg>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
        <div class="offcanvas-header px-4 pb-0">
          <a class="navbar-brand" href="/">
            <img src="/public/user/images/main-logo.png" class="logo">
          </a>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
        </div>
        <div class="offcanvas-body">
          <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link me-4 " href="/">Home</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link me-4 dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Category</a>
              <ul class="dropdown-menu">
                <% if (categories && categories.length > 0) { %>
                <% categories.forEach((item) => { %>
                <li>
                  <a href="<%= item.Slug %>" class="dropdown-item"><%= item.CategoryName %></a>
                </li>
                <% }) %>
                <% } %>
              </ul>
            </li> -->
            <% if (categories && categories.length > 0) { %>
            <% categories.forEach((item) => { %>
            <li class="nav-item">
              <a class="nav-link me-4" href="<%= item.Slug %>"><%= item.CategoryName %></a>
            </li>
            <% }) %>
            <% } %>
            <!-- <li class="nav-item">
              <a class="nav-link me-4" href="/phone">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-4" href="/services">Services</a>
            </li>

            <li class="nav-item">
              <a class="nav-link me-4" href="#latest-blog">Blog</a>
            </li> -->

            <li class="nav-item">
              <div class="user-items ps-5">
                <ul class="d-flex justify-content-end list-unstyled">
                  <li class="search-item pe-3">
                    <a href="#" class="search-button">
                      <svg class="search">
                        <use xlink:href="#search"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="pe-3">
                    <a href="/account">
                      <svg class="user">
                        <use xlink:href="#user"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="/cart">
                      <svg class="cart">
                        <use xlink:href="#cart"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
<script src="/public/admin/assets/js/jquery-3.7.1.min.js"></script>
<script>
  $(document).ready(function() {
    console.log(123);
    // $.ajax({
    //   url: '/admin/category/getDataCategory',
    //   type: 'GET',
    //   success: function(response) {
    //     if (response.data != null) {
    //       $('#selectedCategory').empty(); // Xóa các tùy chọn cũ
    //       var html = `<option data-id="0" selected disabled>Selected Category</option>`;
    //       response.data.forEach(item => {
    //         html += `<option  data-id="${item.CategoryId}"  value="${item.CategoryId}">${item.CategoryName}</option>`; // Nối thêm vào chuỗi
    //       });
    //       $('#selectedCategory').append(html); // Thêm tất cả các tùy chọn vào select
    //     }
    //   },
    //   error: function(error) {
    //     // Xử lý lỗi
    //     console.error('Lỗi khi xóa:', error);
    //     alert('Đã xảy ra lỗi khi tải dữ liệu!');
    //   }
    // });
  });
</script>